
*{
    color: black;
}
h1{
    font-size: 3rem;
    text-align: center;
    font-family: "Merriweather", serif;
}

h2{
    font-size: 2.0rem;
    font-family: "Merriweather", serif;
    text-align: center;
}
h3{
    font-size: 1.5rem;
    font-family: "Merriweather", serif;
}
p, a{
    font-size: 1.25em;
    text-align: center;
    font-family: "Schibsted Grotesk", serif;
}
body{
    background-color: #d0d0d0;
}

#projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: solid, 3px, #0B2545;
    background-color: #8DA9C4;
    padding: 10px
}
.proj-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 520px;
    
}
img{
    border: solid 4px #0B2545;
}

a:hover{
    background-color: white;
}
a:active{
    color: #8DA9C4;
}
a:visited{
    color: #d0d0d0;
}
a:focus{
    color: grey;
}